*{
    margin: 0;
    padding: 0;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(wallpaper.jpg);;
    background-position: center;
    background-size: cover;
    position: relative;
}
body{
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    padding: 2% 0%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 125px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 15px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{

    content: '';
    width: 0%;
    height: 5px;
    background: lightseagreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(-50%-50%);
    text-align: center;

}

.text-box{
font-size: 40px;

}

.text-box p{
   margin: 10px 0 20px;
   font-size: 18px;
   color: #fff;
}







/*------------Creature of turtle---------*/



.about-turtle{
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;


}
.about-turtle{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(sea2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}


.about-category{
    flex-basis: 48%;
    padding: 30px 2px;
   
}

.about-category img{
    width: 100%;
    border-radius: 20px;

}


.about-category h1{
    padding-top: 0;
    color: #fff;

}

.about-category p{
    padding: 55px 0 75px;
    color: antiquewhite;

}




















/*-----Conventory programes------*/

.infor222{
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;


}
.infor222{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(wallpaper2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}


.decription11{
    flex-basis: 48%;
    padding: 30px 2px;

}

.infor222 img{
    width: 50%;
    border-radius: 20px;
    height: 50%;
    margin-top: 5%;
    
}
.decription11 h2{
    padding-top: 0;
    color: #fff;
    font-size: 37px;
    
    

}

.decription11 p{
    padding: 55px 0 75px;
    color: aliceblue;
    margin-top: -10%;
}





/*-----card points------*/

.Turtle{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-top: -10%;
}
.Turtle h1{
    color: #fff;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
margin: 5%;
display: flex;
justify-content: space-between;

}

.Turtle-col{
    flex-basis: 31%;
    background: lightcyan;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 32px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.Turtle-col:hover{
    box-shadow: 0 0 20px 20px lightskyblue;
}




/* The footer is fixed to the bottom of the page */




.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}




/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}







    
/*-----Responsive------*/







@media(max-width:767px){
    .about-category h1{
       font-size: 200%;
       
       
    }

}

@media(max-width:767px){
    .text-box p{
        font-size: 35%;
    }
}


@media(max-width:767px){
    .about-category img{
      margin-top: 20%;
    }

}

@media(max-width:767px){
    .nav-links ul li{
        display: flex;
        margin-left: 5%;

    }
}

@media(max-width:767px){
    .nav-links ul li:hover::after{
        width: 0%;

    }
}

@media(max-width:767px){
    .row{
        display: inline-block;
    }
}
@media(max-width:767px){
    .infor222 img{
        width: 100%;
    }
}
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}
        